openapi: 3.0.0   # Open api version

info:
  title: GPT2-maketing-man
  version: "v0.1"
  contact:
    name: AInizer - Lee hoseop
  description: |
    This app is generate Rick and Morty script as array.
    ---
      How to use:
      * First, Choose Rick and Morty character name.
      * Second, Fill what the character will say in text. This will be base of script.
      * And then, Fill number in length. Text is created as long as "length". I recommend between 100 and 300.
      * If length is so big, generate time will be long.

      And you can use this in demo page. >> [https://master-gpt2-rick-n-morty-fpem123.endpoint.ainize.ai/](https://master-gpt2-rick-n-morty-fpem123.endpoint.ainize.ai/)

      GPT-2 model >> [e-tony/gpt2-rnm](https://huggingface.co/e-tony/gpt2-rnm)

servers:
  - url: https://master-gpt2-rick-n-morty-fpem123.endpoint.ainize.ai/

paths:
  /Rick-N-Morty:
    post:
      requestBody:
        required: true
        description: "This request will generate Rick and Morty script."
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum: [Rick, Morty, Beth, Summer, Jerry]
                  description: "The Rick and Morty character name."
                text:
                  type: string
                  description: "The base of script."
                length:
                  type: string
                  description: "The size of text."
              required:
                - name
                - text
                - length
      responses:   # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: "array"
                    items:
                      type: "string"
                      format: "array"
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"
